<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="Tosifi System" value="true" />
    <add key="ActivityPoint" value="Default" />
    <add key="Font" value="Default" />
    <add key="FontFamily" value="Tahoma" />
    <add key="FontSize" value="8" />
    <add key="Auto Start" value="false" />
    <add key="Login" value="false" />
    <add key="Skin" value="DevExpress Style" />
    <add key="ConServer" value="Data Source=.;Initial Catalog=ClassSRM;Integrated Security=True" />
    <add key="IsConServer" value="false" />
  </appSettings>
  <!--<connectionStrings>
    <add name="ClassSRM.Properties.Settings.ClassSRMConnectionString" connectionString="Data Source=.;Initial Catalog=ClassSRM;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>-->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>